@import "bootstrap";

.table-holder {
  width: 80%;
  margin: 20px auto;
}

th {
  font-weight: bold;
  font-size: 28px;
  text-align: center;
}

td {
  font-size: 22px;
}

.total {
  font-size: 22px;
  font-weight: bold;
}
